<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>

    </header>
    <aside>

    </aside>
    <main>@RenderBody()</main>
    <footer>@DateTime.Now.Year</footer>
</body>
</html>
